.methodSelect {
  width: 98px;
  height: 32px;
  padding: 4px 12px;
  margin-right: 8px;
  border: 1px solid #939fa5;
  border-radius: 4px;
  text-align: center;
}

.methodSelect:hover {
  cursor: pointer;
  border: 2px solid #2196f3;
}
.methodBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  top: 235px;
  z-index: 1px;
  background: #ffffff;
  border: 1px solid #939fa5;
  box-sizing: border-box;
  border-radius: 4px;
}
