body {
  background: white;
}
.App {
  text-align: center;
}

.cardArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.emptyBox {
  display: flex;
  width: 1130px;
  height: 100px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-family: Noto Sans KR Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #939fa5;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.filterArea {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 0px 130px;
}

.h2Header {
  margin: 40px 0px 10px 130px;
}

.textHeader {
  margin-left: 130px;
}

.statusText {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-family: Noto Sans KR Medium;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 800px) {
  .filterArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0px 0px 130px;
  }

  .h2Header {
    margin-left: 15%;
  }

  .textHeader {
    margin-left: 15%;
  }
}
